<footer class="bg-dark-pink bottom-0 w-100 pa3" role="contentinfo">
    <div class="flex justify-between">
        <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
            &copy; {{ now.Format "2006" }} {{ .Site.Title }}
        </a>
        <div>{{ partial "social-follow.html" . }}</div>
    </div>
</footer>
